<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oasystem.dao.system.login.UserLoginInfoMapper">
  <resultMap id="BaseResultMap" type="com.oasystem.model.UserLoginInfo">
    <!--@mbg.generated-->
    <!--@Table user_login_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="VARBINARY" property="userCode" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_code, `password`, dept_id, role_id, ip_address, `status`, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_login_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_login_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.oasystem.model.UserLoginInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_login_info (user_code, `password`, dept_id, 
      role_id, ip_address, `status`, 
      remarks)
    values (#{userCode,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{roleId,jdbcType=INTEGER}, #{ipAddress,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.oasystem.model.UserLoginInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_login_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        user_code,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oasystem.model.UserLoginInfo">
    <!--@mbg.generated-->
    update user_login_info
    <set>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oasystem.model.UserLoginInfo">
    <!--@mbg.generated-->
    update user_login_info
    set user_code = #{userCode,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-17-->
  <select id="chechUser" resultType="java.lang.String">
        select user_code
        from user_login_info
        where user_code=#{userCode,jdbcType=VARBINARY} and `password`=#{password,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-17-->
  <select id="checkPwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_login_info
        where user_code=#{userCode,jdbcType=VARBINARY} and `password`=#{password,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-17-->
  <update id="updatePasswordByUserCode">
        update user_login_info
        set `password`=#{updatedPassword,jdbcType=VARCHAR}
        where user_code=#{userCode,jdbcType=VARBINARY}
    </update>
</mapper>